#sketch {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 960px;
    height: 960px;
    border-style: solid;
}

body {
    display: flex;
    justify-content: space-around;
}

button {
    height: 100px;
    width: 200px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.defaultBlack {
    background-color: rgb(0, 0, 0);
    color: white;
}

.reducedOpacity {
    opacity: 0;
}